<div class="top_nav">
    <div class="container top_nav_container">
      <div class="top_nav_wrapper">
        <p class="tap_nav_p">
          Summer Sale For All Swim Suits And Free Express Delivery - OFF 50%!
        </p>
        <a href="#" class="top_nav_link">SHOP NOW</a>
      </div>
    </div>
<header>
<nav >
<img class="navimg" src=/images/Screenshot_2024-11-15_143407-removebg-preview.png alt="poppify" >
  <ul class="navul">
    <li><a href="#">Home</a></li>
    <li><a href="#">Contact</a></li>
    <li><a href="#">About</a></li>
    <li><a href="#">Sign Up</a></li>
  </ul>
<div class="search-productnav">
  <div class="input-group" style="width: 300px;">
    <input type="text" class="form-control" placeholder="What are you looking for?">
    <span class="input-group-text" style="background-color: transparent; border: none;">
      <i class="bi bi-search" style="font-size: 20px;"></i>
    </span>
  </div>
  
</div>
<div class="icons-productnav">
  <ul>
    <li>  
      <i class="bi bi-heart" style="font-size: 20px; "></i>
    </li>
    <li>
      <i class="bi bi-bag" style="font-size: 20px;"></i>
    </li>
    <li>
      <i class="bi bi-person" style="font-size: 22px;"></i> 
    </li>
  </ul>
  <a href="#"><i class="cart"></i></a>
  <a href="#"><i class="user"></i></a>
</div>

</nav>
<hr>
</header>