<div class="top_nav">
    <div class="container top_nav_container">
      <div class="top_nav_wrapper">
        <p class="tap_nav_p">
          Summer Sale For All Swim Suits And Free Express Delivery - OFF 50%!
        </p>
        <a href="#" class="top_nav_link">SHOP NOW</a>
      </div>
    </div>
<header>
<nav >
<img class="navimg" src=.\images\Screenshot_2024-11-15_143407-removebg-preview.png alt="poppify" >
<hr>
</nav>
</header>