<%- include('../partials/admin/header') %>
<%- include('../partials/admin/sidebar') %>

<link rel="stylesheet" href="/admincss/createOffer.css">

<% if (message) { %> <p class="message " style=" font-size: 16px; /* Slightly smaller than the timer */
color: #d32f2f; /* Red color for error messages */
font-weight: 500; /* Medium weight */
text-align: center; /* Center align */
margin-top: 5px;"><%= message %></p> <% } %>

<div class="offer-form-container">
    <h2>Create Offer</h2>
    <form id="create-offer-form" >
      <div class="form-group">
        <label for="offer-name" >Offer Name:</label>
        <input type="text" name="offerName" id="offer-name" placeholder="Offer Name">
      </div>
      <div class="form-group">
        <label for="offer-type">Offer Type:</label>
        <select id="offer-type" name="offerType"  required>
          <option value="product">Product</option>
          <option value="category">Category</option>
          <option value="referral">Referral</option>
        </select>
      </div>

      <div class="form-group">
        <label for="discount-type">Discount Type:</label>
        <select id="discount-type" name="discountType" required>
          <option value="percentage">Percentage</option>
        </select>
      </div>

      <div class="form-group">
        <label for="discount-value">Discount Value:</label>
        <input type="number" id="discount-value" name="discountValue" placeholder="Enter discount percentage" min="1" required>
      </div>

      <div class="form-group">
        <label for="minimum-order-value">Minimum Order Value:</label>
        <input type="number" id="minimum-order-value" name="minimumOrderValue" placeholder="Enter minimum order value">
      </div>

      <div class="form-group">
        <label for="expiry-date">Expiry Date:</label>
        <input type="date" id="expiry-date" name="expiryDate" required>
      </div>

      <div class="form-group">
        <label for="Starting-Date">Start Date:</label>
        <input type="date" id="Starting-Date" name="StartingDate" required>
      </div>

      <div class="form-group">
        <label for="is-active">Is Active:</label>
        <select id="is-active" name="isActive">
          <option value="true">Yes</option>
          <option value="false">No</option>
        </select>
      </div>

      <!-- Updated button with ID and class -->
      <button type="submit" id="offer-create-btn" class="submit-btn create-offer-btn">Create Offer</button>
    </form>
</div>

<script src="/jsAdmin/addOffers.js"></script>


<%- include('../partials/admin/footer') %>
