<%- include('../partials/user/header') %>
<%- include('../partials/user/navbar') %>
<div class="container-sm">
  <%- include('../partials/user/sidebaruser') %>

  <div class="form-container-accountdetails">
    <h2 class="form-title-accountdetails">Edit Your Address</h2>
    <form action="/add-address-post" method="POST" style="margin-top: 40px;">
      
      <div class="form-group-accountdetails">
        <label for="name-accountdetails">Full Name</label>
        <input 
          type="text" 
          id="name-accountdetails" 
          name="name" 
          placeholder="Full Name" 
          required
        >
      </div>

      <div class="form-group-accountdetails">
        <label for="companyname-accountdetails">Company Name</label>
        <input 
          type="text" 
          id="companyname-accountdetails" 
          name="companyname" 
          placeholder="Company Name"
        >
      </div>

      <div class="form-group-accountdetails">
        <label for="streetaddress-accountdetails">Street Address</label>
        <input 
          type="text" 
          id="streetaddress-accountdetails" 
          name="streetaddress" 
          placeholder="Street Address" 
          required
        >
      </div>

      <div class="form-group-accountdetails">
        <label for="appartment-accountdetails">Apartment</label>
        <input 
          type="text" 
          id="appartment-accountdetails" 
          name="appartment" 
          placeholder="Apartment" 
          required
        >
      </div>

      <div class="form-group-accountdetails">
        <label for="city-accountdetails">City/Town</label>
        <input 
          type="text" 
          id="city-accountdetails" 
          name="city" 
          placeholder="City/Town" 
          required
        >
      </div>

      <div class="form-group-accountdetails">
        <label for="phone-accountdetails">Phone Number</label>
        <input 
          type="text" 
          id="phone-accountdetails" 
          name="phone" 
          placeholder="Phone Number" 
          required
        >
      </div>

      <div class="form-group-accountdetails">
        <label for="email-accountdetails">Email</label>
        <input 
          type="email" 
          id="email-accountdetails" 
          name="email" 
          placeholder="Email" 
          required
        >
      </div>

      <div class="form-buttons-accountdetails">
        <button type="button" class="cancel-btn-accountdetails">Cancel</button>
        <button type="submit" class="save-btn-accountdetails">Save Address</button>
      </div>
    </form>
  </div>

</div>
</div>
<%- include('../partials/user/footer') %>
