<%- include('../partials/user/header') %>
<%- include('../partials/user/navbar') %>
<div class="main">

  <!-- image_container -->
<div class="image_container">
<img class="navimg1" src=".\images\shopping-concept-close-up-portrait-young-beautiful-attractive-redhair-girl-smiling-looking-camera (1).png" alt="">
</div>

<!-- image_container end -->
 <!-- startforgetpass -->

<div class="forgetpass">
  <h1>Forget Password</h1>
  <h4>Opps. It happens to the best of us. Input your email 
      <br>
     address to fix the issue.</h4>
     <form action="">
      <input type="email" placeholder="Enter email">
      <br>
      <button>Submit</button>
     </form> 
</div>

<!-- forgetpass -->
</div>
<%- include('../partials/user/footer') %>