<%- include('../partials/user/header') %>
<%- include('../partials/user/navbar') %>
<div class="main">

  <!-- image_container -->
<div class="image_container">
<img class="navimg1" src=".\images\shopping-concept-close-up-portrait-young-beautiful-attractive-redhair-girl-smiling-looking-camera (1).png" alt="">
</div>

<!-- image_container end -->
 <!-- startforgetpass -->

<div class="forgetpass">
  <h1>Forget Password</h1>
  <h4>Opps. It happens to the best of us. Input your email 
      <br>
     address to fix the issue.</h4>
     <% if (message) { %> <p class="message " style=" font-size: 16px; /* Slightly smaller than the timer */
    color: #d32f2f; /* Red color for error messages */
    font-weight: 500; /* Medium weight */
    text-align: center; /* Center align */
    margin-top: 5px;"><%= message %></p> <% } %>
     <form action="/forgetpass" method="post">
      <input type="email" placeholder="Enter email" name="email">
      <br>
      <button>Submit</button>
     </form> 
</div>

<!-- forgetpass -->
</div>
<%- include('../partials/user/footer') %>