<%- include('../partials/user/header') %>
<%- include('../partials/user/navbar') %>
<div class="main">

  <!-- image_container -->
<div class="image_container">
<img class="navimg1" src=".\images\shopping-concept-close-up-portrait-young-beautiful-attractive-redhair-girl-smiling-looking-camera (1).png" alt="">
</div>

<!-- image_container end -->
 <!-- verify otp -->

<div class="forgetpass">
  <h1>Set New Password</h1>
  <h4>Enter your new password below and 
      <br>
      check the hint while setting it.</h4>
     <form action="/newpassword" method="post" id="newpassform">
      <input type="email" value="<%= email %>" name="email" hidden>
      <input type="password" placeholder="Enter New Password" style="text-align: center;" name="password" id="password">
      <input type="password" placeholder="Confirm Password" style="text-align: center;" id="confirmpassword">
      <br>
      <button id="buttonnewpaasword">Submit</button>
     </form> 
</div>

<!-- forgetpass -->
</div>

<script>
  document.getElementById("newpassform").addEventListener("submit",function(e){
 e.preventDefault();
 const password = document.getElementById("password").value;
 const confirmpassword = document.getElementById("confirmpassword").value;

 if(password == ""||confirmpassword==""){
  alert("enter the Feild")
  return false;
 }else if(password !== confirmpassword){
 alert("password dosent math")
 return false
 }
 e.currentTarget.submit()
 return true
  })
</script>
<%- include('../partials/user/footer') %>