<%- include('../partials/user/header') %>
<%- include('../partials/user/navbar') %>
<div class="main">

  <!-- image_container -->
<div class="image_container">
<img class="navimg1" src=".\images\shopping-concept-close-up-portrait-young-beautiful-attractive-redhair-girl-smiling-looking-camera (1).png" alt="">
</div>

<!-- image_container end -->
 <!-- verify otp -->

<div class="forgetpass">
  <h1>Set New Password</h1>
  <h4>Enter your new password below and 
      <br>
      check the hint while setting it.</h4>
     <form action="">
      <input type="password" placeholder="Enter New Password" style="text-align: center;">
      <input type="password" placeholder="Confirm Password" style="text-align: center;">
      <br>
      <button>Submit</button>
     </form> 
</div>

<!-- forgetpass -->
</div>
<%- include('../partials/user/footer') %>