<%- include('../partials/user/header') %>
<%- include('../partials/user/navbar') %>
<div class="main">

  <!-- image_container -->
<div class="image_container">
<img class="navimg1" src=".\images\shopping-concept-close-up-portrait-young-beautiful-attractive-redhair-girl-smiling-looking-camera (1).png" alt="">
</div>

<!-- image_container end -->
 <!-- verify otp -->

<div class="forgetpass">
  <h1>Otp Verification</h1>
  <h4>Copy the verification code in your authy 
      <br>
      application to verify this account recovery.</h4>
     <form action="/verify-otp-forget" method="post" class="verifyotp">
      <input type="text" placeholder="ENTER OTP" style="text-align: center;" id="otp" name="otp" minlength="6" >
      <br>
      <p id="timer"></p>
      <% if (message) { %> <p class="message"><%= message %></p> <% } %>
      <button>Submit</button>
      <p class="pforotp" >Didn't receive the OTP? <a id="resend-link" class="aforotp" href="/resend-otp-forget">Resend OTP</a></p> <span id="resend-timer"  style=" font-size: 15px;
      color: gray;
      margin-left: 238px;
      font-style: italic">(10 seconds)</span>
      
    
     </form> 
</div>

<!-- forgetpass -->
</div>


<script src="/js/otpForget.js"></script>


<%- include('../partials/user/footer') %>

