<link rel="stylesheet" href="/admincss/sidebar.css">
<header>
    <nav>
        <img class="navimg" src="/images/Screenshot_2024-11-15_143407-removebg-preview.png" alt="poppify">
    </nav>
    <hr>
</header>

<div class="adminmain">
    <!-- Sidebar -->
    <div class="divsidebar">
        <h2>Admin Menu</h2>
        <ul>
            <!-- Dashboard -->
            <li class="divli">
                <a href="/admin/dash" tabindex="0">
                    <i class="fas fa-tachometer-alt"></i> Dashboard
                </a>
            </li>
            <!-- Products -->
            <li class="divli">
                <a href="/admin/products" tabindex="0">
                    <i class="fas fa-box"></i> Products
                </a>
            </li>
            <!-- Orders -->
            <li class="divli">
                <a href="/admin/order-management" tabindex="0">
                    <i class="fas fa-shopping-cart"></i> Orders
                </a>
            </li>
            <!-- User Management -->
            <li class="divli">
                <a href="/admin/usermangement" tabindex="0">
                    <i class="fas fa-users"></i> User Management
                </a>
            </li>
            <!-- Category Management -->
            <li class="divli">
                <a href="/admin/category" tabindex="0">
                    <i class="fas fa-tags"></i> Category Management
                </a>
            </li>
            <!-- Order List -->
            <li class="divli">
                <a href="/admin/sales" tabindex="0">
                    <i class="fas fa-list"></i> sales
                </a>
            </li>
            <!-- Offer -->
            <li class="divli">
                <a href="/admin/offer" tabindex="0">
                    <i class="fas fa-gift"></i> Offer
                </a>
            </li>
            <!-- Coupon -->
            <li class="divli">
                <a href="/admin/coupon-management" tabindex="0">
                    <i class="fas fa-ticket-alt"></i> Coupon
                </a>
            </li>
        </ul>
        <!-- Logout Button -->
        <button class="logout-button" onclick="logout()">
            <i class="fas fa-sign-out-alt"></i> Logout
        </button>
    </div>
    <div class="divsection">


        <script>
            function logout(){
                fetch("/admin/logout",{method:"GET"}).then((response)=>{
 if(response.ok) window.location.href = "/admin/logout";
                }).catch((err)=>{
console.log(err);

                })
            }
        </script>
  